div.st-emotion-cache-1v0mbdj.e1wa958q1 
{
    height : 220px;
    width : 220px;
    padding-left: 60px;
    padding-bottom: px;
    top: 0%;

}


div.st-emotion-cache-0.e12yskxj0
{
    height: 200px;
    width: 300px;
}

div.st-emotion-cache-6qob1r.e1dbuyne8
{
    background-image: linear-gradient(to bottom,#0d1117, #1f4e79);
    color: white;
}

header.stAppHeader.st-emotion-cache-12fmjuu.e10jh26i0
{
    display: none; 
    background-color: #c9d1d9 ;

}
section.stMain.st-emotion-cache-bm2z3a.ekr3hml1
{


    background-color: #f0f4f8 ;

}
